.div {
    position: relative;
    left: 25%;

    height: auto;
    width: auto;

}
.nameFont1 {
    position: relative;

    height: auto;
    width: auto;


}


.fadeEnterButton{
    position: relative;

    height: auto;
    width: auto;
   

    animation: fadeEnterButton;
    animation-delay: 0s;
}
.fadeInRight {
    animation: fadeInRight;
}
.fadeInLeft {
    animation: fadeInLeft;


}

.OneAnimated {
    animation-duration: 0s;
    animation-fill-mode: both;
}
@keyframes fadeInRight{
    0% {
        opacity: 0;
        transform: translateX(0px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes fadeInLeft{
    0% {
        opacity: 0;
        transform: translateX(0px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes fadeEnterButton{
    0% {
        opacity: 0;

    }
    100% {
        opacity: 1;

    }
}